$primary-color: #f44141;
$secondary-color: #632f2f;
$tertiary-color: #e6e6e6;
$quaternary-color: #321515;
$quinary-color: #695757;
$senary-color: #c69494;
$septenary-color: #f3cec7;
$danger-color: #f40909;
$read-only-color: lightgray;
