@use 'styles.scss' as *;

.home__container {
  @include centerMeRow;
  align-content: space-between;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .home__products-container {
    @include centerMeColumn;
    margin: 5px 0;
    width: 100%;
    gap: 5px;
  }
}
