<main class="main-app">
  <h1 class="main-app__title">Grocery Store</h1>
  <div class="main-app__nav-container">
    <nav class="main-app__nav">
      <a
        class="main-app__nav-link"
        routerLink="/home"
        routerLinkActive="main-app__nav-link-active"
        >Home</a
      >
      <div>
        <app-categories
          *ngIf="token"
          class="home__categories-container"></app-categories>
      </div>
      <a
        *ngIf="token"
        class="main-app__nav-link"
        routerLink="/cart"
        routerLinkActive="main-app__nav-link-active"
        >My Cart</a
      >
      <a
        *ngIf="!token"
        class="main-app__nav-link"
        routerLink="/login"
        routerLinkActive="main-app__nav-link-active"
        >Login</a
      >
      <a href="#" (click)="logout()" *ngIf="token">Logout</a>
    </nav>
  </div>
</main>
<router-outlet></router-outlet>
