<main class="main-app">
  <h1 class="main-app__title">Grocery Store</h1>
  <div class="main-app__nav-container">
    <nav class="main-app__nav">
      <a
        class="main-app__nav-link"
        routerLink="/categories"
        routerLinkActive="main-app__nav-link-active"
        >Home</a
      >
      <!-- <a
        class="main-app__nav-link"
        *ngFor="let item of categories$ | async"
        [routerLink]="['category', item.id]"
        routerLinkActive="main-app__nav-link-active"
        >{{ item.name }}</a
      >
      <a
        class="main-app__nav-link"
        routerLink="/cart"
        routerLinkActive="main-app__nav-link-active"
        >My Cart</a
      >-->
      <a
        class="main-app__nav-link"
        routerLink="/login"
        routerLinkActive="main-app__nav-link-active"
        >Login</a
      >
    </nav>
  </div>
  <div class="main-app__content-container">
    <router-outlet></router-outlet>
  </div>
</main>
