@use 'styles.scss' as *;

.categories__container {
  @include centerMeColumn;
  gap: 15px;
  padding: 8px;
  select {
    @include inputsShadow;
    padding: 5px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: inherit;
  }
}
