@use 'styles.scss' as *;

.categories__container {
  @include centerMeColumn;
  gap: 15px;
  padding: 15px;
  background-color: $senary-color;
  .categories__title {
    padding: 10px;
    color: $secondary-color;
  }

  .categories__nav-link {
    border: 1px solid $read-only-color;
    border-radius: 5px;
    padding: 3px 8px;
    width: 300px;
  }
  .categories__nav-link-active {
    background-color: $primary-color;
  }
}
